html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }
  html article, html aside, html details, html figcaption, html figure,
  html footer, html header, html hgroup, html menu, html nav, html section, body article, body aside, body details, body figcaption, body figure,
  body footer, body header, body hgroup, body menu, body nav, body section, div article, div aside, div details, div figcaption, div figure,
  div footer, div header, div hgroup, div menu, div nav, div section, span article, span aside, span details, span figcaption, span figure,
  span footer, span header, span hgroup, span menu, span nav, span section, applet article, applet aside, applet details, applet figcaption, applet figure,
  applet footer, applet header, applet hgroup, applet menu, applet nav, applet section, object article, object aside, object details, object figcaption, object figure,
  object footer, object header, object hgroup, object menu, object nav, object section, iframe article, iframe aside, iframe details, iframe figcaption, iframe figure,
  iframe footer, iframe header, iframe hgroup, iframe menu, iframe nav, iframe section,
  h1 article,
  h1 aside,
  h1 details,
  h1 figcaption,
  h1 figure,
  h1 footer,
  h1 header,
  h1 hgroup,
  h1 menu,
  h1 nav,
  h1 section, h2 article, h2 aside, h2 details, h2 figcaption, h2 figure,
  h2 footer, h2 header, h2 hgroup, h2 menu, h2 nav, h2 section, h3 article, h3 aside, h3 details, h3 figcaption, h3 figure,
  h3 footer, h3 header, h3 hgroup, h3 menu, h3 nav, h3 section, h4 article, h4 aside, h4 details, h4 figcaption, h4 figure,
  h4 footer, h4 header, h4 hgroup, h4 menu, h4 nav, h4 section, h5 article, h5 aside, h5 details, h5 figcaption, h5 figure,
  h5 footer, h5 header, h5 hgroup, h5 menu, h5 nav, h5 section, h6 article, h6 aside, h6 details, h6 figcaption, h6 figure,
  h6 footer, h6 header, h6 hgroup, h6 menu, h6 nav, h6 section, p article, p aside, p details, p figcaption, p figure,
  p footer, p header, p hgroup, p menu, p nav, p section, blockquote article, blockquote aside, blockquote details, blockquote figcaption, blockquote figure,
  blockquote footer, blockquote header, blockquote hgroup, blockquote menu, blockquote nav, blockquote section, pre article, pre aside, pre details, pre figcaption, pre figure,
  pre footer, pre header, pre hgroup, pre menu, pre nav, pre section,
  a article,
  a aside,
  a details,
  a figcaption,
  a figure,
  a footer,
  a header,
  a hgroup,
  a menu,
  a nav,
  a section, abbr article, abbr aside, abbr details, abbr figcaption, abbr figure,
  abbr footer, abbr header, abbr hgroup, abbr menu, abbr nav, abbr section, acronym article, acronym aside, acronym details, acronym figcaption, acronym figure,
  acronym footer, acronym header, acronym hgroup, acronym menu, acronym nav, acronym section, address article, address aside, address details, address figcaption, address figure,
  address footer, address header, address hgroup, address menu, address nav, address section, big article, big aside, big details, big figcaption, big figure,
  big footer, big header, big hgroup, big menu, big nav, big section, cite article, cite aside, cite details, cite figcaption, cite figure,
  cite footer, cite header, cite hgroup, cite menu, cite nav, cite section, code article, code aside, code details, code figcaption, code figure,
  code footer, code header, code hgroup, code menu, code nav, code section,
  del article,
  del aside,
  del details,
  del figcaption,
  del figure,
  del footer,
  del header,
  del hgroup,
  del menu,
  del nav,
  del section, dfn article, dfn aside, dfn details, dfn figcaption, dfn figure,
  dfn footer, dfn header, dfn hgroup, dfn menu, dfn nav, dfn section, em article, em aside, em details, em figcaption, em figure,
  em footer, em header, em hgroup, em menu, em nav, em section, img article, img aside, img details, img figcaption, img figure,
  img footer, img header, img hgroup, img menu, img nav, img section, ins article, ins aside, ins details, ins figcaption, ins figure,
  ins footer, ins header, ins hgroup, ins menu, ins nav, ins section, kbd article, kbd aside, kbd details, kbd figcaption, kbd figure,
  kbd footer, kbd header, kbd hgroup, kbd menu, kbd nav, kbd section, q article, q aside, q details, q figcaption, q figure,
  q footer, q header, q hgroup, q menu, q nav, q section, s article, s aside, s details, s figcaption, s figure,
  s footer, s header, s hgroup, s menu, s nav, s section, samp article, samp aside, samp details, samp figcaption, samp figure,
  samp footer, samp header, samp hgroup, samp menu, samp nav, samp section,
  small article,
  small aside,
  small details,
  small figcaption,
  small figure,
  small footer,
  small header,
  small hgroup,
  small menu,
  small nav,
  small section, strike article, strike aside, strike details, strike figcaption, strike figure,
  strike footer, strike header, strike hgroup, strike menu, strike nav, strike section, strong article, strong aside, strong details, strong figcaption, strong figure,
  strong footer, strong header, strong hgroup, strong menu, strong nav, strong section, sub article, sub aside, sub details, sub figcaption, sub figure,
  sub footer, sub header, sub hgroup, sub menu, sub nav, sub section, sup article, sup aside, sup details, sup figcaption, sup figure,
  sup footer, sup header, sup hgroup, sup menu, sup nav, sup section, tt article, tt aside, tt details, tt figcaption, tt figure,
  tt footer, tt header, tt hgroup, tt menu, tt nav, tt section, var article, var aside, var details, var figcaption, var figure,
  var footer, var header, var hgroup, var menu, var nav, var section,
  b article,
  b aside,
  b details,
  b figcaption,
  b figure,
  b footer,
  b header,
  b hgroup,
  b menu,
  b nav,
  b section, u article, u aside, u details, u figcaption, u figure,
  u footer, u header, u hgroup, u menu, u nav, u section, i article, i aside, i details, i figcaption, i figure,
  i footer, i header, i hgroup, i menu, i nav, i section, center article, center aside, center details, center figcaption, center figure,
  center footer, center header, center hgroup, center menu, center nav, center section,
  dl article,
  dl aside,
  dl details,
  dl figcaption,
  dl figure,
  dl footer,
  dl header,
  dl hgroup,
  dl menu,
  dl nav,
  dl section, dt article, dt aside, dt details, dt figcaption, dt figure,
  dt footer, dt header, dt hgroup, dt menu, dt nav, dt section, dd article, dd aside, dd details, dd figcaption, dd figure,
  dd footer, dd header, dd hgroup, dd menu, dd nav, dd section, ol article, ol aside, ol details, ol figcaption, ol figure,
  ol footer, ol header, ol hgroup, ol menu, ol nav, ol section, ul article, ul aside, ul details, ul figcaption, ul figure,
  ul footer, ul header, ul hgroup, ul menu, ul nav, ul section, li article, li aside, li details, li figcaption, li figure,
  li footer, li header, li hgroup, li menu, li nav, li section,
  fieldset article,
  fieldset aside,
  fieldset details,
  fieldset figcaption,
  fieldset figure,
  fieldset footer,
  fieldset header,
  fieldset hgroup,
  fieldset menu,
  fieldset nav,
  fieldset section, form article, form aside, form details, form figcaption, form figure,
  form footer, form header, form hgroup, form menu, form nav, form section, label article, label aside, label details, label figcaption, label figure,
  label footer, label header, label hgroup, label menu, label nav, label section, legend article, legend aside, legend details, legend figcaption, legend figure,
  legend footer, legend header, legend hgroup, legend menu, legend nav, legend section,
  table article,
  table aside,
  table details,
  table figcaption,
  table figure,
  table footer,
  table header,
  table hgroup,
  table menu,
  table nav,
  table section, caption article, caption aside, caption details, caption figcaption, caption figure,
  caption footer, caption header, caption hgroup, caption menu, caption nav, caption section, tbody article, tbody aside, tbody details, tbody figcaption, tbody figure,
  tbody footer, tbody header, tbody hgroup, tbody menu, tbody nav, tbody section, tfoot article, tfoot aside, tfoot details, tfoot figcaption, tfoot figure,
  tfoot footer, tfoot header, tfoot hgroup, tfoot menu, tfoot nav, tfoot section, thead article, thead aside, thead details, thead figcaption, thead figure,
  thead footer, thead header, thead hgroup, thead menu, thead nav, thead section, tr article, tr aside, tr details, tr figcaption, tr figure,
  tr footer, tr header, tr hgroup, tr menu, tr nav, tr section, th article, th aside, th details, th figcaption, th figure,
  th footer, th header, th hgroup, th menu, th nav, th section, td article, td aside, td details, td figcaption, td figure,
  td footer, td header, td hgroup, td menu, td nav, td section,
  article article,
  article aside,
  article details,
  article figcaption,
  article figure,
  article footer,
  article header,
  article hgroup,
  article menu,
  article nav,
  article section, aside article, aside aside, aside details, aside figcaption, aside figure,
  aside footer, aside header, aside hgroup, aside menu, aside nav, aside section, canvas article, canvas aside, canvas details, canvas figcaption, canvas figure,
  canvas footer, canvas header, canvas hgroup, canvas menu, canvas nav, canvas section, details article, details aside, details details, details figcaption, details figure,
  details footer, details header, details hgroup, details menu, details nav, details section, embed article, embed aside, embed details, embed figcaption, embed figure,
  embed footer, embed header, embed hgroup, embed menu, embed nav, embed section,
  figure article,
  figure aside,
  figure details,
  figure figcaption,
  figure figure,
  figure footer,
  figure header,
  figure hgroup,
  figure menu,
  figure nav,
  figure section, figcaption article, figcaption aside, figcaption details, figcaption figcaption, figcaption figure,
  figcaption footer, figcaption header, figcaption hgroup, figcaption menu, figcaption nav, figcaption section, footer article, footer aside, footer details, footer figcaption, footer figure,
  footer footer, footer header, footer hgroup, footer menu, footer nav, footer section, header article, header aside, header details, header figcaption, header figure,
  header footer, header header, header hgroup, header menu, header nav, header section, hgroup article, hgroup aside, hgroup details, hgroup figcaption, hgroup figure,
  hgroup footer, hgroup header, hgroup hgroup, hgroup menu, hgroup nav, hgroup section,
  menu article,
  menu aside,
  menu details,
  menu figcaption,
  menu figure,
  menu footer,
  menu header,
  menu hgroup,
  menu menu,
  menu nav,
  menu section, nav article, nav aside, nav details, nav figcaption, nav figure,
  nav footer, nav header, nav hgroup, nav menu, nav nav, nav section, output article, output aside, output details, output figcaption, output figure,
  output footer, output header, output hgroup, output menu, output nav, output section, ruby article, ruby aside, ruby details, ruby figcaption, ruby figure,
  ruby footer, ruby header, ruby hgroup, ruby menu, ruby nav, ruby section, section article, section aside, section details, section figcaption, section figure,
  section footer, section header, section hgroup, section menu, section nav, section section, summary article, summary aside, summary details, summary figcaption, summary figure,
  summary footer, summary header, summary hgroup, summary menu, summary nav, summary section,
  time article,
  time aside,
  time details,
  time figcaption,
  time figure,
  time footer,
  time header,
  time hgroup,
  time menu,
  time nav,
  time section, mark article, mark aside, mark details, mark figcaption, mark figure,
  mark footer, mark header, mark hgroup, mark menu, mark nav, mark section, audio article, audio aside, audio details, audio figcaption, audio figure,
  audio footer, audio header, audio hgroup, audio menu, audio nav, audio section, video article, video aside, video details, video figcaption, video figure,
  video footer, video header, video hgroup, video menu, video nav, video section {
    display: block; }
  html body, body body, div body, span body, applet body, object body, iframe body,
  h1 body, h2 body, h3 body, h4 body, h5 body, h6 body, p body, blockquote body, pre body,
  a body, abbr body, acronym body, address body, big body, cite body, code body,
  del body, dfn body, em body, img body, ins body, kbd body, q body, s body, samp body,
  small body, strike body, strong body, sub body, sup body, tt body, var body,
  b body, u body, i body, center body,
  dl body, dt body, dd body, ol body, ul body, li body,
  fieldset body, form body, label body, legend body,
  table body, caption body, tbody body, tfoot body, thead body, tr body, th body, td body,
  article body, aside body, canvas body, details body, embed body,
  figure body, figcaption body, footer body, header body, hgroup body,
  menu body, nav body, output body, ruby body, section body, summary body,
  time body, mark body, audio body, video body {
    line-height: 1; }
  html ol, html ul, body ol, body ul, div ol, div ul, span ol, span ul, applet ol, applet ul, object ol, object ul, iframe ol, iframe ul,
  h1 ol,
  h1 ul, h2 ol, h2 ul, h3 ol, h3 ul, h4 ol, h4 ul, h5 ol, h5 ul, h6 ol, h6 ul, p ol, p ul, blockquote ol, blockquote ul, pre ol, pre ul,
  a ol,
  a ul, abbr ol, abbr ul, acronym ol, acronym ul, address ol, address ul, big ol, big ul, cite ol, cite ul, code ol, code ul,
  del ol,
  del ul, dfn ol, dfn ul, em ol, em ul, img ol, img ul, ins ol, ins ul, kbd ol, kbd ul, q ol, q ul, s ol, s ul, samp ol, samp ul,
  small ol,
  small ul, strike ol, strike ul, strong ol, strong ul, sub ol, sub ul, sup ol, sup ul, tt ol, tt ul, var ol, var ul,
  b ol,
  b ul, u ol, u ul, i ol, i ul, center ol, center ul,
  dl ol,
  dl ul, dt ol, dt ul, dd ol, dd ul, ol ol, ol ul, ul ol, ul ul, li ol, li ul,
  fieldset ol,
  fieldset ul, form ol, form ul, label ol, label ul, legend ol, legend ul,
  table ol,
  table ul, caption ol, caption ul, tbody ol, tbody ul, tfoot ol, tfoot ul, thead ol, thead ul, tr ol, tr ul, th ol, th ul, td ol, td ul,
  article ol,
  article ul, aside ol, aside ul, canvas ol, canvas ul, details ol, details ul, embed ol, embed ul,
  figure ol,
  figure ul, figcaption ol, figcaption ul, footer ol, footer ul, header ol, header ul, hgroup ol, hgroup ul,
  menu ol,
  menu ul, nav ol, nav ul, output ol, output ul, ruby ol, ruby ul, section ol, section ul, summary ol, summary ul,
  time ol,
  time ul, mark ol, mark ul, audio ol, audio ul, video ol, video ul {
    list-style: none; }
  html blockquote, html q, body blockquote, body q, div blockquote, div q, span blockquote, span q, applet blockquote, applet q, object blockquote, object q, iframe blockquote, iframe q,
  h1 blockquote,
  h1 q, h2 blockquote, h2 q, h3 blockquote, h3 q, h4 blockquote, h4 q, h5 blockquote, h5 q, h6 blockquote, h6 q, p blockquote, p q, blockquote blockquote, blockquote q, pre blockquote, pre q,
  a blockquote,
  a q, abbr blockquote, abbr q, acronym blockquote, acronym q, address blockquote, address q, big blockquote, big q, cite blockquote, cite q, code blockquote, code q,
  del blockquote,
  del q, dfn blockquote, dfn q, em blockquote, em q, img blockquote, img q, ins blockquote, ins q, kbd blockquote, kbd q, q blockquote, q q, s blockquote, s q, samp blockquote, samp q,
  small blockquote,
  small q, strike blockquote, strike q, strong blockquote, strong q, sub blockquote, sub q, sup blockquote, sup q, tt blockquote, tt q, var blockquote, var q,
  b blockquote,
  b q, u blockquote, u q, i blockquote, i q, center blockquote, center q,
  dl blockquote,
  dl q, dt blockquote, dt q, dd blockquote, dd q, ol blockquote, ol q, ul blockquote, ul q, li blockquote, li q,
  fieldset blockquote,
  fieldset q, form blockquote, form q, label blockquote, label q, legend blockquote, legend q,
  table blockquote,
  table q, caption blockquote, caption q, tbody blockquote, tbody q, tfoot blockquote, tfoot q, thead blockquote, thead q, tr blockquote, tr q, th blockquote, th q, td blockquote, td q,
  article blockquote,
  article q, aside blockquote, aside q, canvas blockquote, canvas q, details blockquote, details q, embed blockquote, embed q,
  figure blockquote,
  figure q, figcaption blockquote, figcaption q, footer blockquote, footer q, header blockquote, header q, hgroup blockquote, hgroup q,
  menu blockquote,
  menu q, nav blockquote, nav q, output blockquote, output q, ruby blockquote, ruby q, section blockquote, section q, summary blockquote, summary q,
  time blockquote,
  time q, mark blockquote, mark q, audio blockquote, audio q, video blockquote, video q {
    quotes: none; }
  html blockquote:before, html blockquote:after,
  html q:before, html q:after, body blockquote:before, body blockquote:after,
  body q:before, body q:after, div blockquote:before, div blockquote:after,
  div q:before, div q:after, span blockquote:before, span blockquote:after,
  span q:before, span q:after, applet blockquote:before, applet blockquote:after,
  applet q:before, applet q:after, object blockquote:before, object blockquote:after,
  object q:before, object q:after, iframe blockquote:before, iframe blockquote:after,
  iframe q:before, iframe q:after,
  h1 blockquote:before,
  h1 blockquote:after,
  h1 q:before,
  h1 q:after, h2 blockquote:before, h2 blockquote:after,
  h2 q:before, h2 q:after, h3 blockquote:before, h3 blockquote:after,
  h3 q:before, h3 q:after, h4 blockquote:before, h4 blockquote:after,
  h4 q:before, h4 q:after, h5 blockquote:before, h5 blockquote:after,
  h5 q:before, h5 q:after, h6 blockquote:before, h6 blockquote:after,
  h6 q:before, h6 q:after, p blockquote:before, p blockquote:after,
  p q:before, p q:after, blockquote blockquote:before, blockquote blockquote:after,
  blockquote q:before, blockquote q:after, pre blockquote:before, pre blockquote:after,
  pre q:before, pre q:after,
  a blockquote:before,
  a blockquote:after,
  a q:before,
  a q:after, abbr blockquote:before, abbr blockquote:after,
  abbr q:before, abbr q:after, acronym blockquote:before, acronym blockquote:after,
  acronym q:before, acronym q:after, address blockquote:before, address blockquote:after,
  address q:before, address q:after, big blockquote:before, big blockquote:after,
  big q:before, big q:after, cite blockquote:before, cite blockquote:after,
  cite q:before, cite q:after, code blockquote:before, code blockquote:after,
  code q:before, code q:after,
  del blockquote:before,
  del blockquote:after,
  del q:before,
  del q:after, dfn blockquote:before, dfn blockquote:after,
  dfn q:before, dfn q:after, em blockquote:before, em blockquote:after,
  em q:before, em q:after, img blockquote:before, img blockquote:after,
  img q:before, img q:after, ins blockquote:before, ins blockquote:after,
  ins q:before, ins q:after, kbd blockquote:before, kbd blockquote:after,
  kbd q:before, kbd q:after, q blockquote:before, q blockquote:after,
  q q:before, q q:after, s blockquote:before, s blockquote:after,
  s q:before, s q:after, samp blockquote:before, samp blockquote:after,
  samp q:before, samp q:after,
  small blockquote:before,
  small blockquote:after,
  small q:before,
  small q:after, strike blockquote:before, strike blockquote:after,
  strike q:before, strike q:after, strong blockquote:before, strong blockquote:after,
  strong q:before, strong q:after, sub blockquote:before, sub blockquote:after,
  sub q:before, sub q:after, sup blockquote:before, sup blockquote:after,
  sup q:before, sup q:after, tt blockquote:before, tt blockquote:after,
  tt q:before, tt q:after, var blockquote:before, var blockquote:after,
  var q:before, var q:after,
  b blockquote:before,
  b blockquote:after,
  b q:before,
  b q:after, u blockquote:before, u blockquote:after,
  u q:before, u q:after, i blockquote:before, i blockquote:after,
  i q:before, i q:after, center blockquote:before, center blockquote:after,
  center q:before, center q:after,
  dl blockquote:before,
  dl blockquote:after,
  dl q:before,
  dl q:after, dt blockquote:before, dt blockquote:after,
  dt q:before, dt q:after, dd blockquote:before, dd blockquote:after,
  dd q:before, dd q:after, ol blockquote:before, ol blockquote:after,
  ol q:before, ol q:after, ul blockquote:before, ul blockquote:after,
  ul q:before, ul q:after, li blockquote:before, li blockquote:after,
  li q:before, li q:after,
  fieldset blockquote:before,
  fieldset blockquote:after,
  fieldset q:before,
  fieldset q:after, form blockquote:before, form blockquote:after,
  form q:before, form q:after, label blockquote:before, label blockquote:after,
  label q:before, label q:after, legend blockquote:before, legend blockquote:after,
  legend q:before, legend q:after,
  table blockquote:before,
  table blockquote:after,
  table q:before,
  table q:after, caption blockquote:before, caption blockquote:after,
  caption q:before, caption q:after, tbody blockquote:before, tbody blockquote:after,
  tbody q:before, tbody q:after, tfoot blockquote:before, tfoot blockquote:after,
  tfoot q:before, tfoot q:after, thead blockquote:before, thead blockquote:after,
  thead q:before, thead q:after, tr blockquote:before, tr blockquote:after,
  tr q:before, tr q:after, th blockquote:before, th blockquote:after,
  th q:before, th q:after, td blockquote:before, td blockquote:after,
  td q:before, td q:after,
  article blockquote:before,
  article blockquote:after,
  article q:before,
  article q:after, aside blockquote:before, aside blockquote:after,
  aside q:before, aside q:after, canvas blockquote:before, canvas blockquote:after,
  canvas q:before, canvas q:after, details blockquote:before, details blockquote:after,
  details q:before, details q:after, embed blockquote:before, embed blockquote:after,
  embed q:before, embed q:after,
  figure blockquote:before,
  figure blockquote:after,
  figure q:before,
  figure q:after, figcaption blockquote:before, figcaption blockquote:after,
  figcaption q:before, figcaption q:after, footer blockquote:before, footer blockquote:after,
  footer q:before, footer q:after, header blockquote:before, header blockquote:after,
  header q:before, header q:after, hgroup blockquote:before, hgroup blockquote:after,
  hgroup q:before, hgroup q:after,
  menu blockquote:before,
  menu blockquote:after,
  menu q:before,
  menu q:after, nav blockquote:before, nav blockquote:after,
  nav q:before, nav q:after, output blockquote:before, output blockquote:after,
  output q:before, output q:after, ruby blockquote:before, ruby blockquote:after,
  ruby q:before, ruby q:after, section blockquote:before, section blockquote:after,
  section q:before, section q:after, summary blockquote:before, summary blockquote:after,
  summary q:before, summary q:after,
  time blockquote:before,
  time blockquote:after,
  time q:before,
  time q:after, mark blockquote:before, mark blockquote:after,
  mark q:before, mark q:after, audio blockquote:before, audio blockquote:after,
  audio q:before, audio q:after, video blockquote:before, video blockquote:after,
  video q:before, video q:after {
    content: '';
    content: none; }
  html table, body table, div table, span table, applet table, object table, iframe table,
  h1 table, h2 table, h3 table, h4 table, h5 table, h6 table, p table, blockquote table, pre table,
  a table, abbr table, acronym table, address table, big table, cite table, code table,
  del table, dfn table, em table, img table, ins table, kbd table, q table, s table, samp table,
  small table, strike table, strong table, sub table, sup table, tt table, var table,
  b table, u table, i table, center table,
  dl table, dt table, dd table, ol table, ul table, li table,
  fieldset table, form table, label table, legend table,
  table table, caption table, tbody table, tfoot table, thead table, tr table, th table, td table,
  article table, aside table, canvas table, details table, embed table,
  figure table, figcaption table, footer table, header table, hgroup table,
  menu table, nav table, output table, ruby table, section table, summary table,
  time table, mark table, audio table, video table {
    border-collapse: collapse;
    border-spacing: 0; }
  html *:focus, body *:focus, div *:focus, span *:focus, applet *:focus, object *:focus, iframe *:focus,
  h1 *:focus, h2 *:focus, h3 *:focus, h4 *:focus, h5 *:focus, h6 *:focus, p *:focus, blockquote *:focus, pre *:focus,
  a *:focus, abbr *:focus, acronym *:focus, address *:focus, big *:focus, cite *:focus, code *:focus,
  del *:focus, dfn *:focus, em *:focus, img *:focus, ins *:focus, kbd *:focus, q *:focus, s *:focus, samp *:focus,
  small *:focus, strike *:focus, strong *:focus, sub *:focus, sup *:focus, tt *:focus, var *:focus,
  b *:focus, u *:focus, i *:focus, center *:focus,
  dl *:focus, dt *:focus, dd *:focus, ol *:focus, ul *:focus, li *:focus,
  fieldset *:focus, form *:focus, label *:focus, legend *:focus,
  table *:focus, caption *:focus, tbody *:focus, tfoot *:focus, thead *:focus, tr *:focus, th *:focus, td *:focus,
  article *:focus, aside *:focus, canvas *:focus, details *:focus, embed *:focus,
  figure *:focus, figcaption *:focus, footer *:focus, header *:focus, hgroup *:focus,
  menu *:focus, nav *:focus, output *:focus, ruby *:focus, section *:focus, summary *:focus,
  time *:focus, mark *:focus, audio *:focus, video *:focus {
    outline: none; }

body, html {
  background: #4E4E6A; }

body {
  padding: 95px 20px; }
  body main {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    body main .col1 {
      flex: 1 1 auto;
      max-width: 490px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      body main .col1 p {
        font-size: 40px;
        color: #FFF;
        line-height: 45px;
        margin-bottom: 100px;
        font-family: Arial; }
    body main .col2 {
      flex: 1 1 auto;
      max-width: 750px; }

h1 {
  color: #FFF;
  font-size: 55px;
  line-height: 64px;
  font-family: Arial;
  margin-bottom: 38px; }

input, textarea {
  font-family: Arial;
  box-sizing: border-box;
  display: block;
  width: calc(100% - 36px);
  padding: 18px;
  font-size: 16px;
  margin-bottom: 20px; }

textarea {
  min-height: 220px; }

button {
  background: #FFF;
  padding: 30px 100px;
  border: 2px solid #4E4E6A;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  float: right;
  margin-right: 36px; }

@media screen and (max-width: 1000px) {
  body {
    padding: 20px; }
    body main {
      flex-direction: column; }
      body main div.col1 {
        max-width: none;
        width: 100%;
        text-align: center; }
        body main div.col1 figure, body main div.col1 p {
          margin-bottom: 20px; }
      body main div.col2 {
        max-width: none;
        width: 100%; }
        body main div.col2 h1 {
          display: none; }
        body main div.col2 form input, body main div.col2 form textarea {
          width: 100%; }
        body main div.col2 form button {
          margin-right: 0;
          width: 100%;
          float: none; } }
